<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>Urban Hair & Color </title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="Skeleton-2.0.4/css/skeleton.css"/>
    <link rel="stylesheet" type="text/css" href="Skeleton-2.0.4/css/normalize.css"/>
</head>

<body class="container background">
	<div>
    	

    
	<!-- Inséertion du logo -->
	<img id="logo" src="logo.jpg" alt="" title="Urban Coiffure" />
  
  	<!-- Création des boutons du menu -->
    
    <div class="row">
    	<div class="two columns u-pull-right"><a class="white" href="#">Rendez-vous</div>
      <div class="two columns u-pull-right"><a class="white" href="#">Contact</div>
         <div class="two columns u-pull-right"><a class="white" href="#">Galerie</div>
         <div class="two columns u-pull-right"><a class="white" href="produits.html">Produits</div>
   	  <div class="two columns u-pull-right"><a class="white" href="layout.html">Accueil</div>   
  	</div>
  
  
 
    <!-- Image de fond<img id="img_accueil" src="img_accueil.jpg" alt="" title="Urban Coiffure" />-->
  
	<!--<ul id="menu_horizontal">
		<li class="boutons"><a href="#">Rendez-vous</a></li>
		<li class="boutons"><a href="#">Contact</a></li>
		<li class="boutons"><a href="#">Galerie</a></li>
		<li class="boutons"><a href="produits.html">Produits</a></li>
		<li class="boutons"><a href="layout.html">Accueil</a></li>
	</ul>-->
    
    
	<div id="content-center">
  	<h1 id="titre1"> Accueil </h1>
    
    	<div class="bloc-large">
        	<h2 id="titre2">Urban Coiffure  </h2>
            <p> Besoin à un moment de Bien-Être?
Traitement pour la Coloration des cheveux crée pour restructurer, colorer et conditionner dans une façon nouvelle, simple, sûre et sans ammoniaque.
Produits professionnels qui propose une formidable opportunité pour un service de coloration qui fait la différence des couleurs traditionnel.
Les colorations OIL de NYCE sont à base de principe actif et d’extraits naturels.
Une gamme de produits naturels qui satisfait le bien-être à la qualité.  </p>
        </div>
        </div>
        
    </div>
    
	
  
    
    
    
    
    	
    
    
</div>

</body>
</html>
